<style>
  .hero-background.is-transparent {
    opacity: 0.5;
  }

  #swiftly {
    font-family: "hypatia-sans-pro", sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    transform: rotate(-90deg);
    padding: 10px;
    margin-top: 100px;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu img {
    padding: 5px;
    margin-top: 20px;
  }

  .menu a {
    font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    color: black;
    margin: auto, 0;
    transform: rotate(-90deg);
    padding: 10px;
    margin-top: 40px;
  }

  h1 {
    font-family: "hypatia-sans-pro", sans-serif;
  }
</style>
<div class="column is-11">
  <section class="hero ">
    <div class="hero is-fullheight is-grey has-background is-transparent">
      {{!-- <img alt="switching clothes" class="hero-background " src="\images\swiftly-homepage.gif" /> --}}
      <div class="hero-body">
        <div class="container has-text-dark has-text-centered">
          <h1 class="title is-1 has-text-dark has-text-centered">
            404 Not Found

          </h1>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </section>
</div>