<style>
    .hero-background.is-transparent {
        opacity: 0.5;
    }

    main {
        width: 90%;
    }

    header {
        margin-top: 50px;
    }

    #swiftly {
        font-size: 2.5em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 10px;
        margin-top: 100px;
        color: black;
    }

    .menu img {
        padding: 5px;
        margin-top: 20px;
    }

    .menu a:hover {
        background-color: transparent;
    }

    .menu {
        position: fixed;

    }

    .menu a {
        font-family: "hypatia-sans-pro", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 25px;
        margin-top: 40px;
        color: black;
    }
</style>
<div class="column is-11">
    <section class="hero ">
        <div class="hero is-fullheight has-background-dark ">
            <img alt="changing room" class="hero-background is-transparent" src="\images\closet2.jpg" />
            <div class="hero-body">
                <div class="container has-text-white has-text-centered">
                    <h1 class="title is-2 has-text-white has-text-centered">
                        Welcome! We are a group of student with a passion for creativity. We wanted to create a
                        digital
                        closet for you, and that is what we have done! What you wear can change the way you feel
                        about
                        yourself, and here we want you to look your best. Here you are free to express yourself. You
                        can
                        browse through a variety of clothes and build your custom outfit. Our digital closet makes
                        it easy to browse through and create that amazing outfit! You can create outfits
                        that make you feel good and confident because that's what we aim for.
                    </h1>
                    <h2 class="subtitle"> When you feel good we feel good! </h2>
                    <h2 class="subtitle">
                        <a href="/">← Back To Home</a>
                    </h2>
                </div>
            </div>
        </div>
    </section>
</div>