<style>
    main {
        width: 90%;
    }

    nav {
        margin-left: 36%;
        font-size: 1.5em;
    }

    header {
        margin-top: 50px;
    }

    .box {
        padding: 0;
        margin-top: 50px;
        width: 15em;
        height: 15em;
        border: solid;
        overflow: hidden;
    }

    span.menu-list a {
        font-size: 1.25em;
        margin: 0;
        transform: rotate(0deg);
    }

    .menu img {
        padding: 5px;
        margin-top: 20px;
    }

    .menu-list a {
        font-size: 1.5em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 10px;
        margin-top: 30px;
    }
</style>

<main>
    <nav class="navbar is-transparent is">
        <div class="navbar-menu ">
            <div class="navbar-start">
                <a class="navbar-item" href="/browse/tops">
                    Tops
                </a>
                <a class="navbar-item" href="/browse/bottoms">
                    Bottoms
                </a>
                <a class="navbar-item" href="/browse/dresses">
                    Dresses
                </a>
                <a class="navbar-item" href="/browse/shoes">
                    Shoes
                </a>
            </div>
        </div>
    </nav>
    <div class="column ">
        <h1 id="searchClothes" class="title is-1 has-text-centered ">
            {{!-- varible for tab choosen, ex "clothes" is all, if Tops choosen should read "Tops" --}}
            Clothes
        </h1>
        <div class="columns is-multiline">
            {{!-- for each top --}}
            {{#each Tops}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
            {{!-- for each bottom--}}
            {{#each Pants}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
            {{!-- for each dress--}}
            {{#each Dresses}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
            {{!-- for each shoe--}}
            {{#each Shoes}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img id="matchPhoto" src="images/1-15-2017.jpg" alt="Placeholder image" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"></p>
                        </div>
                    </div>

                    <div class="content">
                        <p>This should be a comment from the database!</p>
                    </div>
                </div>
            </div>
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" placeholder="Add a comment..."></textarea>
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <a class="button is-info">Submit</a>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <label class="checkbox">
                                    <input type="checkbox" /> Press enter to submit
                                </label>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</main>