<style>
    button {
        padding: 1em;
        margin: 1em;
    }

    main {
        width: 90%;
    }

    nav {
        margin-left: 36%;
        font-size: 1.5em;
    }

    header {
        margin-top: 50px;
    }

    .box {
        padding: 0;
        margin-top: 50px;
        width: 15em;
        height: 15em;
        border: solid;
        overflow: hidden;
    }


    #swiftly {
        font-size: 2.5em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 10px;
        margin-top: 100px;
    }

    .menu img {
        padding: 5px;
        margin-top: 20px;
    }

    .menu-list a {
        font-size: 1.5em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 10px;
        margin-top: 30px;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
</style>

<main>
    <nav class="navbar is-transparent is">
        <div class="navbar-menu ">
            <div class="navbar-start">
                <a class="navbar-item" href="/browse/tops">
                    Tops
                </a>
                <a class="navbar-item" href="/browse/bottoms">
                    Bottoms
                </a>
                <a class="navbar-item" href="/browse/dresses">
                    Dresses
                </a>
                <a class="navbar-item" href="/browse/shoes">
                    Shoes
                </a>
            </div>
        </div>
    </nav>
    <div class="column ">
        <h1 id="searchClothes" class="title is-1 has-text-centered ">
            {{!-- varible for tab choosen, ex "clothes" is all, if Tops choosen should read "Tops" --}}
            Clothes
        </h1>
        <div class="columns is-multiline">
            {{!-- for each top --}}
            {{#each Tops}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <form method="POST" action="api/closet">
                            <button>
                                <i class="far fa-plus-square"></i>
                            </button>
                            <img id="top" src={{this.url}} />
                        </form>

                    </section>
                </div>
            </div>
            {{/each}}
            {{!-- for each bottom--}}
            {{#each Pants}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img id="pants" src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
            {{!-- for each dress--}}
            {{#each Dresses}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
            {{!-- for each shoe--}}
            {{#each Shoes}}
            <div class="column is-one-quarter">
                <div class="box">
                    <section>
                        <img src={{this.url}} />

                    </section>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    </div>

</main>
{{!-- <script type="text/javascript">
    $(".submit").on("click", function (e) {
        e.preventDefault();
        const outfit = {
            top: $("#top")

           // pants: $("#pants")
               

            $.post("/api/closet", outfit, function (data) {
                $("#outfitTop").html("src", data.top);
                //$("#OutfitPant").attr("src", data.pants);
                //  $("#modal").addClass("is-active");
                //$(".modal-close").click(function () {
                //  $(".modal").removeClass("is-active");
            });
        });
        });
</script> --}}