<style>
    .box {
        padding: 0;
        margin-top: 50px;
        border: solid;
        height: 270px;
        overflow: hidden;
    }

    .tile {
        padding: 0;
    }

    main {
        width: 90%;
    }

    header {
        margin-top: 50px;
    }

    #swiftly {
        font-size: 2.5em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 10px;
        margin-top: 100px;
        color: black;
    }

    .menu img {
        padding: 5px;
        margin-top: 20px;
    }

    .menu a:hover {
        background-color: transparent;
    }

    .menu {
        position: fixed;

    }

    .menu a {
        font-family: "hypatia-sans-pro", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8em;
        margin: auto, 0;
        transform: rotate(-90deg);
        padding: 25px;
        margin-top: 40px;
        color: black;
    }
</style>
<main>

    <div class="column ">
        <h1 class="title is-1 has-text-centered ">Closet</h1>

        <div class="columns is-multiline">
            {{!-- FOR EACH OUTFIT --}}
            {{#each outfit}}
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="tile">
                        <div class="tile is-parent is-vertical">
                            <section class="tile is-child">
                                <img src={{this.dresses}} />
                            </section>
                            <section class="tile is-child">
                                <img src={{this.tops}} />
                            </section>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <section class="tile is-child">
                                <img src={{this.pants}} />
                            </section>
                            <section class="tile is-child">
                                <img src={{this.shoes}} />
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>