<div class="column is-11">
  <div class="hero is-fullheight  has-background">
    <img alt="switching clothes" class="hero-background " src="\images\swiftly-homepage.gif" />
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-item">
            <img src="images\fashionapp-05logo.svg" />
          </a>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <img src="images\fashionapp-08heder.svg" />

      </div>
    </div>
  </div>
  <div class="hero is-fullheight  has-background">
    <img alt="switching clothes" class="hero-background " src="images\goth.svg" />
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- <img src="images\goth.svg" /> -->
        <h1 class="title has-text-white">
          Goth
        </h1>
      </div>
    </div>
  </div>
  <div class="hero is-fullheight  has-background">
    <img alt="switching clothes" class="hero-background " src="images\prep_white_bg.png" />
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- <img src="images\goth.svg" /> -->
        <h1 class="title has-text-white">
          Prep
        </h1>
      </div>
    </div>
  </div>
  <div class="hero is-fullheight  has-background">
    <img alt="switching clothes" class="hero-background " src="images\kawaii4.jpg" />
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- <img src="images\goth.svg" /> -->
        <h1 class="title has-text-white">
          Kawaii
        </h1>
      </div>
    </div>
  </div>
</div>