<style>
  #swiftly {
    font-size: 2.5em;
    margin: auto, 0;
    transform: rotate(-90deg);
    padding: 10px;
    margin-top: 100px;
    color: black;
  }

  .menu img {
    padding: 5px;
    margin-top: 20px;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .menu {
    position: fixed;

  }

  .menu a {
    font-family: "hypatia-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    margin: auto, 0;
    transform: rotate(-90deg);
    padding: 25px;
    margin-top: 40px;
    color: black;
  }
</style>
<div class="column is-11">
  <div class="hero is-fullheight  has-background bg-img-1">

    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-item" id="full-logo">
            <img src="/images/fashionapp-05logo.svg" />
          </a>
          <p id="intro-text">Your Digital Closet</p>
        </div>
      </nav>
    </div>
    <div class="hero-body" id="reinvent-ypurself">
      <div class="container has-text-centered">
        <img src="/images/fashionapp-08heder.svg" />
      </div>
    </div>
  </div>

  <div style="position: relative;">
    <div
      style="color: #f0f0f0;background-color:#f0f0f0;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>

  <div class="hero is-fullheight bg-img-goth">

    <div class="hero-body">
      <div class="container has-text-centered">

        <h1 id="goth-text" class="title has-text-white">
          Goth
        </h1>
      </div>
    </div>
  </div>

  <div style="position: relative;">
    <div
      style="color: #f0f0f0;background-color:#f0f0f0;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>

  <div class="hero is-fullheight bg-img-prep">

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
          Prep
        </h1>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <div style="color: #f0f0f0;background-color:white;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>
  <div class="hero is-fullheight bg-img-kawaii">

    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
          Kawaii
        </h1>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <div style="color: #f0f0f0;background-color:white;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>
  <div class="hero is-fullheight bg-img-last">

    <div class="hero-body">
      <div class="container has-text-centered" id="last-page-text">
        <a href="/browse/all">
          <img src="\images\bottom-page-text.PNG">
        </a>
      </div>
    </div>
  </div>
</div>