<div class="column is-11">
  <div class="hero is-fullheight  has-background bg-img-1">
    <!-- <img
          alt="switching clothes"
          class="hero-background "
          src="../public/images/swiftly-homepage.gif"
        /> -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-item" id="full-logo">
            <img src="../public/images/fashionapp-05logo.svg" />
          </a>
          <p id="intro-text">Your Digital Closet</p>
        </div>
      </nav>
    </div>
    <div class="hero-body" id="reinvent-ypurself">
      <div class="container has-text-centered">
        <img src="../public/images/fashionapp-08heder.svg" />
      </div>
    </div>
  </div>

  <div style="position: relative;">
    <div
      style="color: #f0f0f0;background-color:#f0f0f0;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>

  <div class="hero is-fullheight bg-img-goth">
    <!-- <img id="bg-img-goth"
          alt="switching clothes"
          class="hero-background "
          src="../public/images/goth.png"
        /> -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- <img src="images/goth.svg" /> -->
        <h1 id="goth-text" class="title has-text-white">
          Goth
        </h1>
      </div>
    </div>
  </div>

  <div style="position: relative;">
    <div
      style="color: #f0f0f0;background-color:#f0f0f0;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>

  <div class="hero is-fullheight bg-img-prep">
    <!-- <img id="bg-img-prep"
          alt="switching clothes"
          class="hero-background "
          src="../public/images/prep_white_bg.png"
        /> -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-white">
          Prep
        </h1>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <div style="color: #f0f0f0;background-color:white;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>
  <div class="hero is-fullheight bg-img-kawaii">
    <!-- <img id="bg-img-kawaii"
          alt="switching clothes"
          class="hero-background "
          src="../public/images/kawaii.jpeg"
        /> -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <!-- <img src="images/goth.svg" /> -->
        <h1 class="title has-text-white">
          Kawaii
        </h1>
      </div>
    </div>
  </div>
  <div style="position: relative;">
    <div style="color: #f0f0f0;background-color:white;text-align:center;padding:30px 0px 30px 0px;text-align: justify;">
    </div>
  </div>
  <div class="hero is-fullheight bg-img-last">
    <!-- <img
          alt="switching clothes"
          class="hero-background "
          src="../public/images/last-home-page-swiftly-0.png"
        /> -->
    <div class="hero-body">
      <div class="container has-text-centered" id="last-page-text">
        <!-- <img src="images/goth.svg" /> -->
        <a href="#">
          <img src="../public/images/bottom-page-text-07.png">
        </a>
      </div>
    </div>
  </div>
</div>