<main>
    <div class="columns ">
        <div class="column is-narrow">
            <aside class="menu">
                <p class="menu-label">
                    <a href="/">
                        <img src="..\public\images\swiftly-06wingLogo.svg" />
                    </a>
                </p>
                <p id="swiftly" class="menu-label">
                    Swiftly
                </p>
                <ul class="menu-list">
                    <li><a href="/browse">Browse</a></li>
                    <li><a href="/closet">Closet</a></li>
                    <li><a href="/outfit">Outfits</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </aside>
        </div>

        <div class="column ">
            <h1 class="title is-1 has-text-centered ">Outfits</h1>

            <div class="columns ">
                {{!-- FOR EACH OUTFIT --}}
                <div class="column ">
                    <div class="box">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <section class="tile is-child">
                                    <img src="{selectedTop.url}" />
                                </section>
                                <section class="tile is-child">
                                    <img src="{selectedBottoms.url}" />
                                </section>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <section class="tile is-child">
                                    <img src="{selectedDress.url}" />
                                </section>
                                <section class="tile is-child">
                                    <img src="{sectedShoes.url}" />
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>