body,
html {
  /* height: 100%; */
  margin: 0;
}

#intro-text {
  font-size: 1.3em;
  color: #f0f0f0;
  margin-left: -180px;
  margin-top: 115px;
}
#full-logo:hover {
  background-color: transparent;
  color: #3273dc;
}

.hero-background {
  object-fit: cover;
  object-position: center center;
  width: 100%;

  position: relative;
}
#reinvent-ypurself {
  position: relative;
}

.navbar-item img {
  max-height: 9em;
  width: 100%;
  padding: 20px;
  margin-left: 13em;
  position: relative;
}
body {
  background-color: #f0f0f0;
}

#logo-menu {
  width: 127px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: -30px;
  position: relative;
}

.menu {
  position: fixed;
  margin-top: 20px;
}
.has-text-white {
  font-family: "hypatia-sans-pro", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20em;
}
.bg-img-1,
.bg-img-goth,
.bg-img-prep,
.bg-img-kawaii,
.bg-img-last {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img-1 {
  background-image: url(/images/swiftly-homepage.gif);
  min-height: 100%;
}
.bg-img-goth {
  background-image: url(/images/goth.png);
  min-height: 100%;
}
.goth-text {
  min-height: 100%;
}
.bg-img-prep {
  background-image: url(/images/preppy.jpg);
  min-height: 100%;
}

.bg-img-kawaii {
  background-image: url(/images/kawaii2.jpg);
  min-height: 100%;
}

.bg-img-last {
  background-image: url(/images/last-home-page-swiftly-0.png);
  min-height: 100%;
}
